{% extends "layout.html.twig" %}

{% block content %}
<div class="background-image" style="background-image: url(http://img.youtube.com/vi/4pY3hlQEOc0/maxresdefault.jpg);">
	<span class="background-overlay"></span>
	<div class="container">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4pY3hlQEOc0?rel=0&amp;showinfo=0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<section class="padding-top-20 padding-bottom-20 border-bottom-1 border-grey-300">
	<div class="container">
		<div class="headline no-margin">
			<h4><i class="fa fa-film"></i> Latest Videos</h4>
			<div class="btn-group pull-right">
				<a href="#" class="btn btn-default"><i class="fa fa-th-large no-margin"></i></a>
				<a href="#" class="btn btn-default"><i class="fa fa-bars no-margin"></i></a>
			</div>
			
			<input type="text" class="form-control hidden-xs" placeholder="Search Video...">
				
			<div class="dropdown">
				<a href="#" class="btn btn-default btn-icon-left btn-icon-right dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> Platform <i class="fa fa-caret-down"></i></a>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="ion-playstation"></i> Playstation 4</a></li>
					<li><a href="#"><i class="ion-steam"></i> Steam</a></li>
					<li><a href="#"><i class="ion-xbox"></i> Xbox One</a></li>
					<li><a href="#"><i class="ion-desktop"></i> PC</a></li>
				</ul>
			</div>
			
			<div class="dropdown">
				<a href="#" class="btn btn-default btn-icon-left btn-icon-right dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort-amount-desc"></i> Sort by <i class="fa fa-caret-down"></i></a>
				<ul class="dropdown-menu">
					<li><a href="#">Date</a></li>
					<li><a href="#">Score</a></li>
					<li><a href="#">A-Z</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
		
<section class="bg-grey-50">
	<div class="container">
		<div class="card-group">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/g7d9KM1plyg/mqdefault.jpg" alt=""></a>
							<div class="time">02:14</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Assassin’s Creed Syndicate</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> May 21, 2016</li>
								<li><i class="fa fa-eye"></i> 7168 views</li>
							</ul>
							<p>Cyberpunk 2077, the most ambitious game ever; E3 will reveal Xbox Hardware.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/zLx09vjKYlA/mqdefault.jpg" alt=""></a>
							<div class="time">11:05</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Captain America: Civil War</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> Apr 28, 2016</li>
								<li><i class="fa fa-eye"></i> 372 views</li>
							</ul>
							<p>Become an entrepreneur trying to take control of the Martian market in this.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/yjqqwZGNHPg/mqdefault.jpg" alt=""></a>
							<div class="time">05:32</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Star Wars Battlefront</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> Apr 26, 2016</li>
								<li><i class="fa fa-eye"></i> 1358 views</li>
							</ul>
							<p>For fans of the epic Star Wars™ scenes with Rebel and Imperial ships facing off in.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/jhv3Jq6O-nw/mqdefault.jpg" alt=""></a>
							<div class="time">06:43</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Far Cry Primal Stream</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> Apr 20, 2016</li>
								<li><i class="fa fa-eye"></i> 13 216 views</li>
							</ul>
							<p>Nestled amongst the many environments of sandbox action-adventure game.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/IgS6qa2yxUA/mqdefault.jpg" alt=""></a>
							<div class="time">21:05</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Tom Clancy's The Division</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> April 14, 2016</li>
								<li><i class="fa fa-eye"></i> 41 623 views</li>
							</ul>
							<p>Team Cap or Team Iron Man? Lucy James gives Tamoor an in-depth spoiler-free review of Marvel's much anticipated...</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/GSg1OLTG3nM/mqdefault.jpg" alt=""></a>
							<div class="time">15:42</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Hearthstone: Whispers of the Old Gods - Opening 241 Packs</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> April 13, 2016</li>
								<li><i class="fa fa-eye"></i> 1038 views</li>
							</ul>
							<p>The crew discusses the parkour movement of Mirrors Edge Catalyst and the beta's sanitized aesthetic.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/IsDX_LiJT7E/mqdefault.jpg" alt=""></a>
							<div class="time">13:52</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Official Mirror’s Edge</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> April 05, 2016</li>
								<li><i class="fa fa-eye"></i> 3140 views</li>
							</ul>
							<p>Dave sets his enemies alight and sifts through the ashes with this Fallout 4 mod, the powerful Firelance blaster.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/ngElkyQ6Rhs/mqdefault.jpg" alt=""></a>
							<div class="time">08:03</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Star Wars 7 Treaser</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> March 20, 2016</li>
								<li><i class="fa fa-eye"></i> 15 568 views</li>
							</ul>
							<p>PlayStation 4 sales continued to accelerate during the third financial year since the console released in 2013.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/ckUrcdnWZ2g/mqdefault.jpg" alt=""></a>
							<div class="time">05:14</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Tom Clancy's The Division</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> March 18, 2016</li>
								<li><i class="fa fa-eye"></i> 616 views</li>
							</ul>
							<p>Here's some gameplay from an early level in Kirby: Planet Robobot from Pax East 2016 where</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/JDfbhM9rkAo/mqdefault.jpg" alt=""></a>
							<div class="time">11:00</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Star Wars Battlefront</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> March 10, 2016</li>
								<li><i class="fa fa-eye"></i> 938 views</li>
							</ul>
							<p>Here's a gameplay clip of infiltrating an underground lab in Italy, Hitman - Episode 2: Sapienza.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/WMzAm1ITMu4/mqdefault.jpg" alt=""></a>
							<div class="time">02:45</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Halo 5 Final Gameplay</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> March 08, 2016</li>
								<li><i class="fa fa-eye"></i> 40 331 views</li>
							</ul>
							<p>Mike shares details from his PAX East demo of the frightening Outlast II, but is it as scary?</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/tGHZjVZss2Y/mqdefault.jpg" alt=""></a>
							<div class="time">04:28</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">7 CRAZIEST Moments</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> March 01, 2016</li>
								<li><i class="fa fa-eye"></i> 4234 views</li>
							</ul>
							<p>This week we talk the scary Outlast 2 demo from Pax East, Mirrors Edge Catalyst demo, Rocket Leagues new Hoops.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/dtllw4sRXp8/mqdefault.jpg" alt=""></a>
							<div class="time">01:20</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">The Witcher 3: Wild Hunt</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> Febr 25, 2016</li>
								<li><i class="fa fa-eye"></i> 5780 views</li>
							</ul>
							<p>Check out the launch trailer for Sega 3D Classics Collection.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/SMp-b_hWj14/mqdefault.jpg" alt=""></a>
							<div class="time">04:32</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Just Cause 3 Gameplay</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> Febr 22, 2016</li>
								<li><i class="fa fa-eye"></i> 1348 views</li>
							</ul>
							<p>Doom co-creator John Romero announces Blackroom shooter. Ubisoft reaches terms with Patrice Désilets.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/ULyb0PlH4EY/mqdefault.jpg" alt=""></a>
							<div class="time">02:17</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">Scalebound Game</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> Febr 19, 2016</li>
								<li><i class="fa fa-eye"></i> 3572 views</li>
							</ul>
							<p>Before you can explore the wonders of Mars, you have to stay alive. This Rokh demo shows you how to build a base...</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card card-video">
						<div class="card-img">
							<a href="videos-single.html"><img src="http://i1.ytimg.com/vi/_StTbJ6XxYI/mqdefault.jpg" alt=""></a>
							<div class="time">02:17</div>
						</div>
						<div class="caption">
							<h3 class="card-title"><a href="videos-single.html">We Play Hitman Episode 2</a></h3>
							<ul>
								<li><i class="fa fa-clock-o"></i> Febr 19, 2016</li>
								<li><i class="fa fa-eye"></i> 3572 views</li>
							</ul>
							<p>Before you can explore the wonders of Mars, you have to stay alive. This Rokh demo shows you how to build a base...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<ul class="pagination margin-top-20">
			<li><a href="#"><span>&laquo;</span></a></li>
			<li><a href="#">1</a></li>
			<li class="active"><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">11</a></li>
			<li><a href="#"><span>&raquo;</span></a></li>
		</ul>     
	</div>
</section>
{% endblock %}